<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <title>OBS Auto Switcher</title>
    </head>
    <body class="bg-dark text-light">
        <div id="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="position-absolute top-0 start-50 translate-middle-x alert alert-success alert-dismissible fade show opacity-75" role="alert">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="container py-4">
            <div class="row mb-5">
                <div class="col-md-12 text-center">
                    <h1 class="display-4 text-light">Control of OBS Auto Cam Switcher</h1>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/setStart" class="btn btn-success btn-lg me-3">Set Start Scene</a>
                        <a href="/start" class="btn btn-success btn-lg me-3">Start the Auto Cam Switch</a>
                        {% if status == True %}
                        <div class="d-inline-block text-success me-3">
                            <i class="bi bi-circle-fill"></i>
                        </div>
                        {% else %}
                        <div class="d-inline-block text-danger me-3">
                            <i class="bi bi-circle-fill"></i>
                        </div>
                        {% endif %}
                        <a href="/stop" class="btn btn-danger btn-lg me-3">Stop the Auto Cam Switch</a>
                        <a href="/setEnd" class="btn btn-danger btn-lg">Set Stop Scene</a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <a href="/forceChange" class="btn btn-danger btn-lg"> FORCE CHANGE</a>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12 text-center">
                    <h1 class="display-4 text-light">Mod of Switch</h1>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    {% if currentMode == 0 %}
                        <a href="/neededScene/0" class="btn btn-success btn-lg d-block w-100">Random Switch</a>
                    {% else %}
                        <a href="/neededScene/0" class="btn btn-secondary btn-lg d-block w-100">Random Switch</a>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if currentMode == 1 %}
                        <a href="/neededScene/1" class="btn btn-success btn-lg d-block w-100">Scene Scenes</a>
                    {% else %}
                        <a href="/neededScene/1" class="btn btn-secondary btn-lg d-block w-100">Scene Scenes</a>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if currentMode == 2 %}
                        <a href="/neededScene/2" class="btn btn-success btn-lg d-block w-100">Public Scenes</a>
                    {% else %}
                        <a href="/neededScene/2" class="btn btn-secondary btn-lg d-block w-100">Public Scenes</a>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if currentMode == 3 %}
                        <a href="/neededScene/3" class="btn btn-success btn-lg d-block w-100">Piano Scenes</a>
                    {% else %}
                        <a href="/neededScene/3" class="btn btn-secondary btn-lg d-block w-100">Piano Scenes</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="scene-div">
                        {% for scene in lastScene %}
                        <div class="card mb-3 bg-secondary text-light">
                            <div class="card-body">
                                <h2 class="card-title">{{ scene[0] }}</h2>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="bg-secondary" style="position: fixed; bottom: 0; width: 100%;height: 13vh;">
        <div class="container py-5 text-center">
            <p class="text-center text-light mb-0">Made by <a href="https://github.com/Wiibleyde" class="text-light">Wiibleyde</a> - Source code: <a href="https://github.com/Wiibleyde/obsAutoCam" class="text-light">Github repository</a></p><p class="text-center text-light mb-0">© 2023 <a href="https://github.com/Wiibleyde" class="text-light">Wiibleyde</a>. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let reloadInterval = 500

        setInterval(function() {
            $('#scene-div').load(location.href + ' #scene-div', function() {
                var divValue = $('#scene-div').text()
            })
        }, reloadInterval);

        $(document).ready(function() {
            setTimeout(function() {
                $('#flash').fadeOut('slow')
            }, 3000)
        })
    </script>
</html>